@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Trade_Test.Models;
@model X.PagedList.IPagedList<Character>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("AddCharacter","Character")">Add Character</a>
<a class="btn btn-danger" asp-action="Index" asp-controller="Home">Back</a>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">

            @using (Html.BeginForm("Index", "Character", FormMethod.Get)) {
                <p>
                    Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </p>
            }

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            @Html.ActionLink("Vote", "Index", new { sortOrder = ViewBag.VoteSortParam, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            @Html.ActionLink("Created Date", "Index", new { sortOrder = ViewBag.CreatedDateSortParam, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th> 
                            @Html.ActionLink("Modified Date", "Index", new { sortOrder = ViewBag.ModifiedDateSortParam, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null) {
                        @foreach (var character in Model) {
                            <tr>
                                <td>@character.Name</td>
                                <td>@character.Vote</td>
                                <td>@character.CreatedDateTime</td>
                                <td>@character.ModifiedDateTime</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" asp-action="UpdateCharacter" asp-controller="Character" type="submit">Update Character</button>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="@Url.Action("CharacterDetail","Character",new {id=character.Id})">View Character</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>